{erl_opts, [debug_info]}.
{deps, [
    jsx,
    {epgsql, "4.8.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [epg_wal_reader]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{project_plugins, [
    {rebar3_lint, "6.0.0"},
    {erlfmt, "1.8.0"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "1.2.0"}
        ]},
        {dialyzer, [
            {plt_extra_apps, [jsx, common_test, runtime_tools, meck]}
        ]}
    ]}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src}/*.{erl,app.src}", "rebar.config", "config/sys.config", "elvis.config"]}
]}.

{ct_opts, [
    {ct_hooks, [epg_ct_hook]}
]}.
